*{
    box-sizing: border-box;
}
.junior{
    border-radius: 16px;
    background-image: url("../Images/2.png"), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6));
    background-blend-mode: overlay;
    width: auto;
    height: auto;
    object-fit: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    align-items: center;
    padding-top: 100px;
    margin-top: 40px;
    margin-right: 1rem;
}
.teenager{
    border-radius: 16px;
    background-image: url("../Images/3.png"), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.6));
    background-blend-mode: overlay;
    width: auto;
    height: auto;
    object-fit: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    align-items: center;
    padding-top: 100px;
    margin-top: 40px;
}
.professional{
    border-radius: 16px;
    background-image: url("../Images/4.png"), linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.4));
    background-blend-mode: overlay;
    width: auto;
    height:auto;
    object-fit: cover;
    background-repeat: no-repeat;
    border-radius: 16px;
    align-items: center;
    padding-top: 100px;
    margin-top: 40px;
}